<form action="<%= bands_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="name">Name:
        <input type="text" name="band[name]" value="<%#= @user.email %>">
    </label>
    <br>
    <input type="submit" value="Create band">
</form>