<form action="<%= albums_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="title">Title:
        <input type="text" name="album[title]" value="<%#= @user.email %>">
    </label>
    <br>
    <label for="year">Year:
        <input type="text" name="album[year]" value="<%#= @user.email %>">
    </label>
    <br>
    <label for="band">Band:
        <input type="text" name="album[band]" value="<%#= @user.email %>">
    </label>
    <br>
    <label for="is_live?">Is_live?:
        <input type="text" name="album[is_live?]" value="<%#= @user.email %>">
    </label>
    <br>
    <input type="submit" value="Create band">
</form>