<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<div class="dropdown-subtitle">Edition</div>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</li>
	<li>
		<div class="dropdown-subtitle">Help</div>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>