<!--<
<form action="<%#= cats_url %>" method="POST">
<label for="name">Name:
    <input type="text" name="cat[name]" value="<%#= @cat.name %>">
</label>
<br>
<label for="sex">Sex:
    <br>
    <input type="radio" name="cat[sex]" value="M">
    <label>M</label>
    <br>
    <input type="radio" name="cat[sex]" value="F">
    <label>F</label>
</label>
<br>
<label for="color">Choose a color:</label>
<select name="cat[color]">
    <option disabled selected="true">Please choose a color</option>
    <%# Cat::COLORS.each do |color| %>
        <option value="<%#= color %>"><%#= color.capitalize %></option>
    <%# end %>
</select>
<br>
<label for="birthdate">Choose your birthday:</label>
<input type="date" name="cat[birthdate]" min="2000-01-01" max="<%#= Date.today %>">
<br><br>
<label for="description">Write about yourself:</label>
<textarea name="cat[description]"></textarea>
<br>
<input type="submit" value="Create Cat!">
</form>
-->

<%= render "form", cat: @cat, type: :new %>