.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    align-items: center;
}

.left-nav > ul > li {
    padding: 6px;
    margin-right: 30px;
    font-family: $sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.right-nav > ul > li {
    padding-right: 3px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    background-color: $lightest-gray;
}

.left-nav span {
    padding-left: 10px;
}


.right-nav i {
    font-size: 15px;
    padding: 7px;
}